/* .navdiv{
    display: flex;
    flex-direction: row;
    gap: 4px;
  justify-content: space-between;
} */
.navdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #333;
  height: 45px;
}

.normal-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.active-link {
  color: blue;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
